<h3>Welcome to Blackjack.</h3>

<form action="/new_player" method="post">
 <strong> What's your name? </strong>: <input type="text" name="player_name">
<br/>
  <input type='submit' class ="btn">
</form>

