<h3>Welcome to Blackjack.</h3>

<form action="/new_player" method="post">
 <strong> What's your name? </strong>: <input type="text" name="player_name" id="player_name_field">
<br/>
  <input type='submit' class ="btn" id="new_player_btn"/>
</form>

